<div class="box-2">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Trang chủ</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group text-center">
                <h3> Giới thiệu</h3>
            </div>
            <div class="form-group text-center">
                <h4>
                    Đồ án Đặt xe trực tuyến<br>
                    Môn: Các công nghê lập trình hiện đại<br>
                    Lớp 16HCB<br>
                    Nhóm PTTTT<br>
                </h4>
                <hr>
            </div>
            <div class="form-group text-center">
                <h3> Quản lí hành trình</h3>
            </div>
            <div class="form-group text-center">
                <h4>
                   Bao gồm 2 app:<br>
                   App Định Vị: cho phép định vị viên có thể định vị tọa độ khách</br>
                   App Quản Lý Trạng Thái Điểm: thể hiện danh sách các điểm đã được ghi nhận</br>
                    </ul>
                </h4>
                <hr>
            </div>
            <div class="form-group text-center">
                <h3> Tài xế</h3>
            </div>
            <div class="form-group text-center">
                    <h4>
                        Cho phép tài xế nhận thông tin về thông tin vị trí của khách
                    </h4>
                <hr>
            </div>            
        </div>
    </div>
</div>
</div>