<div class="box-2" ng-controller="locateCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Định vị toạ độ</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="">Địa chỉ đón: {{curAddress}}</label>
            </div>
            <div class="form-group text-center">
                <button ng-disabled="status!=0" ng-click="savePosition()" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Lưu tọa độ</button>
            </div>
            <div class="form-group" id="locateMap" style="width:100%; min-height:450px; max-height:80vh; height:50vh"></div>
        </div>
    </div>
</div>