<div class="box-2" ng-controller="createTaskCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Trang chủ</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group text-center">
                <h3> Giới thiệu</h3>
            </div>
            <div class="form-group text-justify">
                <ul>
                    <li>demo</li>
                </ul>
                <hr>
            </div>
            <div class="form-group text-center">
                <h3> Quản lí hành trình</h3>
            </div>
            <div class="form-group text-justify">
                <ul>
                    <li>demo</li>
                </ul>
                <hr>
            </div>
            <div class="form-group text-center">
                <h3> Tài xế</h3>
            </div>
            <div class="form-group text-justify">
                <ul>
                    <li>demo</li>
                </ul>
                <hr>
            </div>            
        </div>
    </div>
</div>
</div>